/* ========================== CSS Reset by Josh W Comeau ========================== */
/* ========================= https://www.joshwcomeau.com/ ===========================*/
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
    margin: 0;
    padding: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
    height: 100%;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
    line-height: 1.5%;
    -webkit-font-smoothing: antialiased;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* ========================================================== */

body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Outfit, sans-serif;
}

.container {
    background-color: white;
    border-radius: 18px;
    text-align: center;
    width: 320px;
    box-shadow: 0px 16px 40px rgba(112, 144, 176, 0.20);
}

.qr-code {
    width: 288px;
    height: 288px;
    border-radius: 10px;
    margin: 16px;
}

.header {
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 0.025em;
    line-height: 28px;
    color: hsla(218, 44%, 22%, 1);
    padding: 8px 34px;
}

.content {
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.225px;
    color: hsla(212, 45%, 55%, 1);
    padding: 8px 34px 40px;
}

/* .attribution {
    margin-top: 30px;
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
} */